/* Whole vanilla css is written here */
.App{
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  text-align: center;
}

.jobs_div{
  display: flex;
  flex-direction: row;
  /* gap: 5%; */
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.jobs_card{
  border-radius: 20px;
  min-width: 200px;
  max-width: 350px;
  min-height: 200px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px 0px;
  padding: 25px 25px;
  width: 40%;
}

.jobs_card:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.01);
}

.job_info{
  display: flex;
}

img{
  width: 35px;
  height: 35px;
}

.comp_role_loc{
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  margin: 0 10px;
  text-transform: capitalize;
}

.company a{
  text-decoration: none;
  font-weight: 600;
  color:rgb(153, 145, 145)
  
}

.company:hover{
  cursor: pointer;
  text-decoration: underline;
  color: rgb(153, 145, 145);
}



.salary_range{
  font-weight: 600;
  color: gray;
  margin: 10px 0;
}

.about{
  color: black;
  font-weight: 600;
  margin: 5px 0;

}

.desc p{
  overflow: hidden;
  max-height: 200px;
  display: block;
  line-height: 22px;
  mask-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.full_desc_cta{
  text-align: center;
  margin: 20px 0;
  cursor: pointer;

}

.min_exp{
  font-weight: 600;
  color: gray;
}

.min_exp_val{
  font-weight: 600;
  margin: 5px 0;
}

.filters, .text_filter{
  position: relative;
  margin: 10px 15px !important;
}

.custom-select, .text_filter{
  min-width: 150px !important;
}

.filter_dropdown{
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.css-14lo706>span{
  width: 50px;
  /* padding-left: 20px !important; */
}

.close_icon{
  padding: 0 !important;
  border: none !important;
  right: 15px;
}

.close_icon:hover{
  border: none !important;
  /* background-color: none !important; */
}

.checked{
  color: green !important;
  width: 18px !important;
  height: 18px !important;
  vertical-align: bottom !important;
}


@media (max-width: 1300px) {
  .jobs_div{
    justify-content: space-evenly
  }
}

@media (max-width: 768px){
  .jobs_card{
    width: 30%;
  }
}

@media (max-width: 600px){
  .App{
    padding: 20px 10px;
  }

  .filter_dropdown{
    justify-content: center;
  }

  .jobs_card{
    width: 40%;
  }
}
